body {
  height: 99vh;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg?cs=srgb&dl=pexels-pixabay-301717.jpg&fm=jpg'); 
}

.board {
  background-image: url('images/monopoly.jpg');
  height: 1000px;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  padding-top: 150px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.app {
  margin-bottom: 1em;
}